@font-face {
    font-family: "Kaisei Opti";
    src: url(../fonts/Kaisei_Opti/KaiseiOpti-Regular.ttf);
}

@font-face {
    font-family: "Assistant";
    src: url(../fonts/Assistant/static/Assistant-Regular.ttf);
}